body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(106, 159, 230);
  padding: 10px 15px;
  padding-bottom: 10px;
  font-size: 12px;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.btn {
  background: #000000;
  border: 0;
  border-radius: 4px;
  color: white;
  font-family: sans-serif;
  height: 40px;
  width: 100%;
  margin-top: 10;
  margin-bottom: 5px;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover {
  opacity: 70%;
}
.btn:active {
  background: rgb(57, 117, 167);
  border-color: white;
}
